<!-- templates/en_construccion.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En Construccion</title>
    <link rel="icon" type="image/png" href="../img/LOGO CEFL - sin fondo.png">
    <link rel="stylesheet" href="../index.css">
</head>
<body style="background-color: white;">
    <header class="header">
        <!-- <h1>CFLMB</h1> -->
        <img class="banner-web" src="../img/banner-web.jpg" alt="BanerInstitucional">
        <a href="../index.html" class="boton_pag_principal"></a>  <!-- Simula logo para volver al home -->
    </header>
    <nav class="nav-barra">
        <button onclick="alternarMenu()" class="Button_menu">&#9776;</button>
        <ul class="lista-barra">
            <li><a href="en_construccion.html">Talleres</a></li>
            <li><a href="en_construccion.html">Bachiller</a></li>
            <li><a href="inscripciones_cerradas.html">Inscripciones</a></li>
            <li><a href="en_construccion.html">Eventos</a></li>
            <li><a href="en_construccion.html">Historia</a></li>
            <li><a href="en_construccion.html">Cooperadora</a></li>
            <li><a href="en_construccion.html">Quienes somos</a></li>
            <li><a href="en_construccion.html">Contacto</a></li>
        </ul>
    </nav>
    <img class="sitio_constr" src="../img/SITIO-EN-CONSTRUCCION.jpg" alt="SITIO-EN-CONSTRUCCION">
<!--         <img class="sitio_constr" src="img/SITIO-EN-CONSTRUCCION.jpg" alt="SITIO-EN-CONSTRUCCION"
     style="width: 100%; height: auto; max-width: 100vw; max-height: 100vh; object-fit: contain;"> -->
</body>
</html>